
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Лабораторная работа №2, Выполнил: Солодков М.А, Группа: ИТП-31</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/style.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/style_lab3.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/style_lab4.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/style_lab4_task2.css">
    <link href="https://fonts.googleapis.com/css?family=Sriracha&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lemonada:300&display=swap" rel="stylesheet">
</head>
<body>
    {{> header}}
    <div class="nav">
        <div class="nav__inner">
            {{> nav}}
        </div>
    </div>
    <div class="links">
        <div class="links__inner">
            {{> links}}
        </div>
    </div>
    <div class="content">
        {{{body}}}
    </div>
    {{> footer}}
    <script type="text/javascript" src="/resources/js/jsCalcCurrentDate.js"></script>
    <script type="text/javascript" src="/resources/js/lab2Request.js"></script>
    <script type="text/javascript" src="/resources/js/lab3Request.js"></script>
    <script type="text/javascript" src="/resources/js/lab4Request.js"></script>
    <script type="text/javascript" src="/resources/js/lab4_task2Requset.js"></script>
</body>
</html>