<header>
    <div class="wrapper">
        <div class="wrapper__inner">
            <div>
                <img src="/resources/images/gstu.png" alt="Здесь должен быть логотип" width="200" height="130">
            </div>
            <div class="heading">
                <span>FRONT-END</span>
            </div>
        </div>
    </div>
</header>