<div><a href="/lab/1">Лабораторная работа 1</a></div>
<div><a href="/lab/2">Лабораторная работа 2</a></div>
<div><a href="/lab/3">Лабораторная работа 3</a></div>
<div><a href="/lab/4">Лабораторная работа 4</a></div>
<div><a href="/lab/5">Лабораторная работа 5</a></div>
<div><a href="/lab/6">Лабораторная работа 6</a></div>