<p class="content__h1">Лабораторная работа 1</p>
<p class="content__h3">Вариант 15</p>
<p class="content__p"><b>Тема работы:</b>Создание макета для организации и публикации лабораторных работ</p>
<p style="margin-bottom: 30px"><b>Цель работы:</b>Сверстать <em>web</em>-страницу средствами <em>HTML5</em> и <em>CSS3</em></p><hr>
<p style="text-indent: 50px; margin-top: 30px">Технические требования к сайту:</p>
<ol>
    <li>Логотип - картинка (например, логотип кафедры)</li>
    <li>Заколовок - название дисциплины</li>
    <li>Панель навигации - для ссылок на внутренние страницы сайта (номера лабораторных)</li>
    <li>Ссылочная панель - гипперссылки на сайт университете, уч.портал и т.д</li>
    <li>Основной документ - текст про сайт, тема и задание лаб.работы</li>
    <li>"footer" (подвал сайта) - ФИО разработчика, дата документа</li>
</ol>
<img class="image__variant" src="/resources/images/variant.PNG" alt="Здесь должна быть картика...">