<p class="content__h1">Лабораторная работа 6</p>
<p class="content__h3">Вариант 1</p>
<p><b>Задание: </b>Реализовать <em>CRUD</em> операции с использованием технологии <em>AJAX</em> для произвольной предметной области
. Реализовать сервер с помощью фрейморка <em>Express</em> для приложений node.js. Хранение данных организовать с помощью базы данных
лиюо на стороне сервера.</p>
<hr>
<div class="task_lab6">
    <div class="task_lab6__createStudent">
        <div class="task_lab6__create">
            <div class="labelStudent__l6">
                <span><b>Создание студента</b></span>
            </div>
            <div class="enterNameStudent__l6">
                <label for="enterNameId__l6">Имя студента: </label>
                <input type="text" id="enterNameId__l6">
            </div>
            <div class="enterSurnameStudent__l6">
                <label for="enterSurnameId__l6">Фамилия студента: </label>
                <input type="text" id="enterSurnameId__l6">
            </div>
            <div class="enterLastNameStudent__l6">
                <label for="enterLastName__l6">Отчество студента: </label>
                <input type="text" id="enterLastName__l6">
            </div>
            <div class="enterAgeStudent__l6">
                <label for="enterAge__l6">Возраст студента: </label>
                <input type="text" id="enterAge__l6">
            </div>
            <div class="enterSpecialityStudent__l6">
                <label for="enterSpeciality__l6">Специальность студента: </label>
                <select name="" id="enterSpeciality__l6">
                    <option value="Программист">Программист</option>
                    <option value="Механик">Механик</option>
                    <option value="Инженер">Инженер</option>
                    <option value="Сварщик">Сварщик</option>
                    <option value="Инженер">Инженер</option>
                </select>
            </div>
        </div>
        <div class="currentValuesStudents">
            <div class="labelCurrentValueStudent">
                <span><b>текущие значения студента</b></span>
            </div>
            <div class="currentNameStudent__l6">
                <label for="currentValueName__l6">Имя студента: </label>
                <input type="text" id="currentValueName__l6" readonly>
            </div>
            <div class="currentSurnameStudent__l6">
                <label for="currentValueSurname__l6">Фамилия студента: </label>
                <input type="text" id="currentValueSurname__l6" readonly>
            </div>
            <div class="currentLastNameStudent__l6">
                <label for="currentValueLastName__l6">Отчество студета: </label>
                <input type="text" id="currentValueLastName__l6" readonly>
            </div>
            <div class="currentAgeStudent__l6">
                <label for="currentValueAge__l6">Возраст студента: </label>
                <input type="text" id="currentValueAge__l6" readonly>
            </div>
            <div class="currentSpecialityStudent__l6">
                <label for="currentSpeciality__l6">Специальность студента: </label>
                <input type="text" id="currentSpeciality__l6" readonly>
            </div>
        </div>
    </div>
    <div class="actionWithStudents__l6">
        <div class="buttonCreateStudent__l6">
            <input type="submit" value="СОЗДАТЬ" onclick="createStudentRequestLab6()" id="createStudentId__l6">
        </div>
        <div class="buttonEditDataStudent__l6">
            <input type="submit" value="РЕДАКТИРОВАТЬ" onclick="updateStudentLab6()" id="editDataStudentId__l6">
        </div>
        <div class="buttonUpdateStudents">
            <input type="submit" value="ОБНОВИТЬ" onclick="updateTableByStudentLab6()" id="updateTableId__l6">
        </div>
    </div>
    <div class="printTable">
        <hr>
        <table>
            <caption>Список студентов</caption>
            <tbody id="tableBody__l6">
            <tr>
                <th>Имя студента</th>
                <th>Фамилия студента</th>
                <th>Отчество студента</th>
                <th>Возраст студента</th>
                <th>Специальность студента</th>
                <th>Редактирование</th>
                <th>Удаление</th>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="printError">
        <span><b></b></span>
    </div>
</div>