<div class="content">
    <p class="content__h1">Лабораторная работа 2</p>
    <p class="content__h3">Вариант 1</p>
    <p><b>Задание 1: </b>Ввести с клавиатуры строку и вывести второе с конца слово в этой строке.</p>
    <div class="tasks">
        <h1>Главная страница</h1>
    </div>
</div>